{% if enable_ratings_plugin %}

  <div class="ratings-scorecard">
    {% for rating_stars in rating_results.max .. rating_results.min %}
      <div class="ratings-scorecard-item">
        <div class="ratings-scorecard-stars">
          {{ rating_stars}}

          <ul class="rating-score" data-rating="{{ rating_stars }}">
            <li class="rating-score-item"></li>
            <li class="rating-score-item"></li>
            <li class="rating-score-item"></li>
            <li class="rating-score-item"></li>
            <li class="rating-score-item"></li>
          </ul>
        </div>
        <div>
          <progress value="{{ rating_results[rating_stars] }}" max="{{ rating_results.count }}"></progress>
        </div>
        <div>
          {{ rating_results[rating_stars] }}
        </div>
      </div>
    {% endfor %}
  </div>

{% endif %}
