{% extends "forms/field.html.twig" %}

{% set originalValue = value %}

{% block input %}
    <fieldset class="rating-input {{ form_field_wrapper_classes }} {{ field.wrapper_classes }}">
        {# It is important to count from max to min, as this is required by the css. #}
        {% for i in field.validate.max|default(5)..field.validate.min|default(1) %}
            {% set id = field.id|default(field.name) ~ '-star' ~ i %}
            <input type="radio"
                   value="{{ i|e }}"
                   id="{{ id|e }}"
                   name="{{ (scope ~ field.name)|fieldName }}"
                   class="{{ form_field_rating_classes }} {{ field.classes }}"
                   {% if i == value %}checked="checked" {% endif %}
                   {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                   {% if required %}required="required"{% endif %}
                   {% if field.tabindex %}tabindex="{{ field.tabindex }}"{% endif %}
                   min="{{ field.validate.min|default(1) }}"
                   max="{{ field.validate.max|default(5) }}"
                   step="{{ field.validate.step|default(1) }}"
            />
            <label for="{{ id|e }}" title="{{ field.titles[i]|t|default(i ~ ' ' ~ 'PLUGIN_RATINGS.STARS'|t) }}"></label>
        {% endfor %}
    </fieldset>

{% endblock %}
